
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
}

body {
    /* background-image: url(img1.jpg); */
    background-size: 100% 100%;
    background-color: #a543ab;
    
}

button {
    background-color: #ffc600;
    cursor: pointer;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: 3px black solid; 
    border-radius: 0px;
}

button:hover {
    background-color: orange;
    transition: background-color 1s;
}

.three-box-section {
    height: 50%;
    display: flex;
}

.left-box {
    background-color: red;
    height: 100%;
    width: 70%;
    margin-right: 5%;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items : center ;
    margin-left: 35px;
    font-weight: bold;
}

.right-box {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    margin-right: 35px;
}

.box-small-top {
    background-color: #ffc600;
    height: 45%;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items : center;
   

}
.box-small-bottom {
    background-color: #ffc600;
    height: 45%;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items : center;
   
}

.bottom-four-box-section {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    

}

.box1 {
    height: 100%;
    width: 25%;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 300;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 15px;
}

.box2 {
    height: 100%;
    width: 25%;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 300;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}
.box3 {
    height: 100%;
    width: 25%;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 300;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.box4 {
    height: 100%;
    width: 25%;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 300;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 35px;
}
.font {
    font-size: 20px;
    font-weight: bold;
}
.font2 {
    font-size: 20px;
    color: #00000080;
    
}

